PORT=3005
FRONTEND_URL=http://localhost:5173
JWT_SECRET=538749523876589
DB_HOST=72.60.14.221
DB_PORT=5437
DB_USER=postgres
DB_PASS=Ras94k3M2OLDpq
DB_NAME=fiapcarelevel
VITE_API_URL=http://localhost:3005
